{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="pinzhibaozhang">
	<div class="pinzhibaozhang_center">
    <img class="img1" src="{% static 'img/pinzhibaozhang.png'%}">
        <div class="xianxiao">
        	<img src="img/xianxiao.png">
            <p>先消费后付款，主动权始终在您手中</p>
        </div>
        <div class="tao">
        	<img src="img/tao.png">
            <p>淘宝交易，安全放心</p>
        </div>
         <div class="yijian">
        	<img src="img/yijian.png">
            <p>一键消费，中间不收取其他费用</p>
        </div>
        <div class="che">
        	<img src="img/che.png">
            <p>免费车接车送；代订离岛船票</p>
        </div>
    </div>
    <div class="fengexian"> </div>
    <div class="lianxi_box">
    <img class="weixin" src="img/weixin.png">
    <a target="_blank" href="https://langlang2017.taobao.com"><img class="taobao" src="img/taobao.png"></a>
    </div>
   	<div class="dianhua">联系电话：15940826861</div>
    <div class="dizhi">地址：辽宁省大连市哈仙岛北海岸</div>
    <div class="beian">Copyright © 2006-2018 大连哈仙岛朗朗渔家 版权所有 <a href="http://www.miitbeian.gov.cn/" style="text-decoration: none;color: #BABCBD;">辽ICP备18007088号-1</a></div>
</div>
</body>
</html>